.app {
    /* height: 100vh; */
    margin: 0;
    margin-top: 0;
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.title {
    padding: 20px;
}

div[class*=box] {
	height: 33.33%;
	width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box-1 { background-color: #FF6766; } */

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
    background-color: coral;
    opacity: .9;
}

.btn-one {
	color: #FFF;
    font-size: large;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.activityBtn {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 15px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.activityBtn::before {
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.activityBtn::before {
    width: 100%;
    height: 0%;
}
.activityBtn:hover::before {
    height: 100%;
}

.activityContainer {
    border: 2px lightseagreen solid;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgb(233, 252, 255);
    opacity: 0.85;
    border-radius: 15px;
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.activityContent {
    font-size: 2rem;
    overflow-wrap: normal;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.app.education {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.app.busywork {
    background-image: url("https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80");
}

.app.recreational {
    background-image: url("https://images.unsplash.com/photo-1588814895199-91cf6fd25d40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

.app.relaxation {
    background-image: url("https://images.unsplash.com/photo-1512552288940-3a300922a275?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}

.app.music {
    background-image: url("https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.app.cooking {
    background-image: url("https://images.unsplash.com/photo-1549590143-d5855148a9d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}

.app.charity {
    background-image: url("https://images.unsplash.com/photo-1608555855762-2b657eb1c348?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.app.social {
    background-image: url("https://images.unsplash.com/photo-1605656816944-971cd5c1407f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.app.diy {
    background-image: url("https://images.unsplash.com/photo-1595814433015-e6f5ce69614e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
